<nav class="app-header">
  <div class="app-header-left">
    <button type="button" mat-button (click)="drawer.toggle()">
      <span class="material-symbols-outlined"> menu </span>
    </button>
    <h1>PlatIot</h1>
  </div>

  <form class="app-header-center">
    <mat-form-field>
      <span class="material-symbols-outlined"> search </span>
      <input matInput type="search" placeholder="Search" aria-label="Search">
    </mat-form-field>
    <button mat-button type="submit">Search</button>
  </form>

  <div class="app-header-right">
    <button mat-button>
      <span class="material-symbols-outlined"> notifications </span>
    </button>
    <button mat-button>
      <span class="material-symbols-outlined"> settings </span>
    </button>
    <button mat-button >
      <span class="material-symbols-outlined" [routerLink]="['profile']"> person </span>
    </button>
  </div>
</nav>

<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side" opened>
    <!-- Home -->
    <div class="drawer-button-container">
      <button mat-button class="mat-drawer-button" aria-current="page" href="#">
        <span class="d-flex align-items-center">
          <span class="material-symbols-outlined"> home </span>
          <span class="px-1"> Home </span>
        </span>
      </button>
    </div>
    <!-- Tenant -->
    <div class="drawer-button-container" [class.opened]="showTenantItems">
      <button mat-button class="mat-drawer-button" (click)="showTenantItems = !showTenantItems">
        <span class="d-flex align-items-center">
          <span class="material-symbols-outlined"> server_person </span>
          <span class="px-1"> Tenant </span>
        </span>
        <span class="material-symbols-outlined mat-drawer-button-closed" [class.d-none]="showTenantItems"> stat_minus_1 </span>
        <span class="material-symbols-outlined mat-drawer-button-opened" [class.d-none]="!showTenantItems"> stat_1 </span>
      </button>
      @if (showTenantItems) {
      <button mat-button class="mat-drawer-button-item" [routerLink]="['search-tenant']"> Search </button>
      <button mat-button class="mat-drawer-button-item" [routerLink]="['add-tenant']"> Create </button>
      }
    </div>
    <!-- Equipment -->
    <div class="drawer-button-container" [class.opened]="showEquipmentItems">
      <button mat-button class="mat-drawer-button" (click)="showEquipmentItems = !showEquipmentItems">
        <span class="d-flex align-items-center">
          <span class="material-symbols-outlined"> construction </span>
          <span class="px-1"> Equipment </span>
        </span>
        <span class="material-symbols-outlined mat-drawer-button-closed" [class.d-none]="showEquipmentItems"> stat_minus_1 </span>
        <span class="material-symbols-outlined mat-drawer-button-opened" [class.d-none]="!showEquipmentItems"> stat_1 </span>
      </button>
      @if (showEquipmentItems) {
      <button mat-button class="mat-drawer-button-item" [routerLink]="['search-equipment']"> Search </button>
      <button mat-button class="mat-drawer-button-item" [routerLink]="['add-equipment']"> Create </button>
      }
    </div>
    <!-- Users -->
    <div class="drawer-button-container" [class.opened]="showUsersItems">
      <button mat-button class="mat-drawer-button" (click)="showUsersItems = !showUsersItems">
        <span class="d-flex align-items-center">
          <span class="material-symbols-outlined"> group </span>
          <span class="px-1"> Users </span>
        </span>
        <span class="material-symbols-outlined mat-drawer-button-closed" [class.d-none]="showUsersItems"> stat_minus_1 </span>
        <span class="material-symbols-outlined mat-drawer-button-opened" [class.d-none]="!showUsersItems"> stat_1 </span>
      </button>
      @if (showUsersItems) {
      <button mat-button class="mat-drawer-button-item" [routerLink]="['add-users']"> New Users </button>
      <button mat-button class="mat-drawer-button-item" [routerLink]="['search-users']"> Search </button>
      }
    </div>
    <!-- Dashboard -->
    <div class="drawer-button-container" [class.opened]="showDashboardItems">
      <button mat-button class="mat-drawer-button" (click)="showDashboardItems = !showDashboardItems">
        <span class="d-flex align-items-center">
          <span class="material-symbols-outlined"> dashboard </span>
          <span class="px-1"> Dashboard </span>
        </span>
        <span class="material-symbols-outlined mat-drawer-button-closed" [class.d-none]="showDashboardItems"> stat_minus_1 </span>
        <span class="material-symbols-outlined mat-drawer-button-opened" [class.d-none]="!showDashboardItems"> stat_1 </span>
      </button>
      @if (showDashboardItems) {
      <button mat-button class="mat-drawer-button-item" [routerLink]="['userdashboard-list']"> Dashboards </button>
      <button mat-button class="mat-drawer-button-item" [routerLink]="['userdashboard-new']"> Add Dashboard </button>
      <button mat-button class="mat-drawer-button-item" [routerLink]="['olap']">
        Experimental Olap </button>
      }
    </div>
  </mat-drawer>

  <div class="example-sidenav-content">
    <router-outlet></router-outlet>
  </div>

</mat-drawer-container>
