<mat-toolbar color="primary">
  <img src="logo.png" alt="Logo" width="40" style="margin-right: 8px;" />
  <span>Pino</span>



</mat-toolbar>

<nav class="app-header">
  <div class="app-header-left">
    <button type="button" mat-button (click)="drawer.toggle()">
      <span class="material-symbols-outlined"> menu </span>
    </button>
  </div>

  <form class="app-header-center">

    <mat-form-field>
      <span class="material-symbols-outlined"> search </span>
      <input matInput type="search" placeholder="Search" aria-label="Search">
    </mat-form-field>
    <button mat-button type="submit">Search</button>
  </form>

  <div class="app-header-right" >
    <button mat-button>
      <span class="material-symbols-outlined"> notifications </span>
    </button>
    <button mat-button>
      <span class="material-symbols-outlined"> settings </span>
    </button>
    <button mat-button >
      <span class="material-symbols-outlined" [routerLink]="['profile']"> person </span>
    </button>
  </div>
</nav>

<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side" opened>
    <!-- Home -->
    <div class="drawer-button-container">
      <button mat-button class="mat-drawer-button" aria-current="page" href="#">
        <span class="d-flex align-items-center">
          <span class="material-symbols-outlined"> home </span>
          <span class="px-1"> Home </span>
        </span>
      </button>
    </div>
    <!-- Tenant -->
    <div class="drawer-button-container" [class.opened]="showTenantItems">
      <button mat-button class="mat-drawer-button" (click)="toggleDrawer('tenant')">
        <span class="d-flex align-items-center">
          <span class="material-symbols-outlined"> business </span>
          <span class="px-1"> Tenant </span>
        </span>
        <span class="material-symbols-outlined mat-drawer-button-closed" [class.d-none]="showTenantItems"> stat_minus_1 </span>
        <span class="material-symbols-outlined mat-drawer-button-opened" [class.d-none]="!showTenantItems"> stat_1 </span>
      </button>
      @if (showTenantItems) {
      <button mat-button class="mat-drawer-button-item" [routerLink]="['search-tenant']" routerLinkActive="active-link"> Search </button>
      <button mat-button class="mat-drawer-button-item" [routerLink]="['add-tenant']" routerLinkActive="active-link"> Create </button>
      }
    </div>
    <!-- Equipment -->
    <div class="drawer-button-container" [class.opened]="showEquipmentItems">
      <button mat-button class="mat-drawer-button" (click)="toggleDrawer('equipment')">
        <span class="d-flex align-items-center">
          <span class="material-symbols-outlined"> construction </span>
          <span class="px-1"> Equipment </span>
        </span>
        <span class="material-symbols-outlined mat-drawer-button-closed" [class.d-none]="showEquipmentItems"> stat_minus_1 </span>
        <span class="material-symbols-outlined mat-drawer-button-opened" [class.d-none]="!showEquipmentItems"> stat_1 </span>
      </button>
      @if (showEquipmentItems) {
      <button mat-button class="mat-drawer-button-item" [routerLink]="['search-equipment']" routerLinkActive="active-link"> Search </button>
      <button mat-button class="mat-drawer-button-item" [routerLink]="['add-equipment']" routerLinkActive="active-link"> Create </button>
      }
    </div>
    <!-- Users -->
    <div class="drawer-button-container" [class.opened]="showUserItems">
      <button mat-button class="mat-drawer-button" (click)="toggleDrawer('user')">
        <span class="d-flex align-items-center">
          <span class="material-symbols-outlined"> person </span>
          <span class="px-1"> Users </span>
        </span>
        <span class="material-symbols-outlined mat-drawer-button-closed" [class.d-none]="showUserItems"> stat_minus_1 </span>
        <span class="material-symbols-outlined mat-drawer-button-opened" [class.d-none]="!showUserItems"> stat_1 </span>
      </button>
      @if (showUserItems) {
      <button mat-button class="mat-drawer-button-item" [routerLink]="['search-users']" routerLinkActive="active-link"> Search </button>
      <button mat-button class="mat-drawer-button-item" [routerLink]="['add-users']" routerLinkActive="active-link"> Create </button>
      }
    </div>
    <!-- Dashboard -->
    <div class="drawer-button-container" [class.opened]="showDashboardItems">
      <button mat-button class="mat-drawer-button" (click)="toggleDrawer('dashboard')">
        <span class="d-flex align-items-center">
          <span class="material-symbols-outlined"> dashboard </span>
          <span class="px-1"> Dashboard </span>
        </span>
        <span class="material-symbols-outlined mat-drawer-button-closed" [class.d-none]="showDashboardItems"> stat_minus_1 </span>
        <span class="material-symbols-outlined mat-drawer-button-opened" [class.d-none]="!showDashboardItems"> stat_1 </span>
      </button>
      @if (showDashboardItems) {
      <button mat-button class="mat-drawer-button-item" [routerLink]="['userdashboard-list']" routerLinkActive="active-link"> List </button>
      <button mat-button class="mat-drawer-button-item" [routerLink]="['userdashboard-new']" routerLinkActive="active-link"> View </button>
      }
    </div>
    <div class="drawer-button-container" >
         <button mat-button class="mat-drawer-button-item" [routerLink]="['system-status']">SYSTEM STATUS</button>
    </div>
  </mat-drawer>

  <div class="example-sidenav-content">
    <router-outlet></router-outlet>
  </div>

</mat-drawer-container>
