<form [formGroup]="signalForm">
    <h4>Gestione Segnali</h4>
    <div formArrayName="signals">
      <div *ngFor="let signal of signals.controls; let i = index" [formGroupName]="i">

        <label for="signalId">Signal ID:</label>
        <input type="string" formControlName="signalId">

        <label for="tipo">Tipo:</label>
        <select formControlName="chartType">
          <option value="bar">Bar Chart</option>
          <option value="bubble">Bubble</option>
          <option value="doughnut">Doughnut</option>
          <option value="line">line</option>
        </select>
        <label for="label">Label</label>
        <input type="string" formControlName="label">
        <button type="button" (click)="removeSignal(i)">❌ Rimuovi</button>
      </div>
    </div>
    <table>
      <tr>
        <td><button type="button" (click)="addSignal()">➕ Aggiungi Segnale</button></td>
        <td><button type="button" (click)="submit()">📤 Mostra JSON</button></td>
        <td><button type="button" (click)="conferma()">Conferma Segnali</button></td>
      </tr>
    </table>
  </form>

