<form [formGroup]="signalForm">
    <h3>Gestione Segnali</h3>
  
    <div formArrayName="signals">
      <div *ngFor="let signal of signals.controls; let i = index" [formGroupName]="i">
        
        <label for="signalId">Signal ID:</label>
        <input type="string" formControlName="signalId">
  
        <label for="tipo">Tipo:</label>
        <select formControlName="chartType">
          <option value="bar">Bar Chart</option>
          <option value="bubble">Bubble</option>
          <option value="doughnut">Doughnut</option>
          <option value="Line">line</option>
        </select>
        <label for="label">Label</label>
        <input type="string" formControlName="label">
        <button type="button" (click)="removeSignal(i)">❌ Rimuovi</button>
      </div>
    </div>
  
    <button type="button" (click)="addSignal()">➕ Aggiungi Segnale</button>
    <button type="button" (click)="submit()">📤 Mostra JSON</button>
    <button type="button" (click)="conferma()">Conferma Segnali</button>
  </form>
 
  