<h2>Tenant Detail</h2>


<form [formGroup]= "tenantForm" (ngSubmit)="onSubmit()">
  <!-- ID (non modificabile) -->
  <tr>
    <td>
      <div>
        <label for="tenantId">ID:</label>
        <input id="tenantId" formControlName="tenantId">
        <div *ngIf="tenantForm.controls['tenantId'].invalid && tenantForm.controls['tenantId'].touched">
          L'id è obbligatorio
        </div>
    </div>
  </td>
  </tr>
  <tr><td >
  <!-- Nome -->
  <div class="form-group">
    <label for="name">Nome:</label>
    <input id="name" formControlName="name">
    <div *ngIf="tenantForm.controls['name'].invalid && tenantForm.controls['name'].touched">
      In nome è obbligatorio
    </div>
 
  </div>
  </td>
    <td >
    <div class="form-group">
      <label for="email">Email:</label>
        <input id="email" formControlName="email">
        <div *ngIf="tenantForm.controls['email'].invalid && tenantForm.controls['email'].touched">
          In nome è obbligatorio
        </div>  
     
    </div>
    </td>
  </tr>
  <tr><td colspan="2" >
  <!-- Tenant -->
  <div class="form-group">
    <label>Description:</label>
    <input type="text" id ="description" class="form-control" formControlName="description">
  </div>
  </td></tr>
  <tr><td >
  <!-- Stato -->
  <div class="form-group">
    <label>Profile:</label>
    <input type="text" id="profile" class="form-control" formControlName="profile">
  </div>

  </td>
<td>

  <!-- Stato -->
  <div class="form-group">
    <label>Country:</label>
    <input type="text" id="country" class="form-control" formControlName="country">
  </div>
</td>
  </tr>

  <tr><td>
  <!-- Stato -->
  <div class="form-group">
    <label>State:</label>
    <input type="text" id= "state" class="form-control" formControlName="state">
  </div>
  </td><td>
  <div class="form-group">
    <label>Zip Code:</label>
    <input type="text" class="form-control" formControlName="zipCode">
  </div>
  </td></tr>
  <tr><td colspan="2">
  <div class="form-group">
    <label>Address:</label>
    <input type="text" id ="address" class="form-control" formControlName="address">
  </div></td></tr>

 
  <!-- Pulsante per Salvare -->
  <button type="submit" class="btn btn-primary mt-3">Salva</button>
</form>
