  <h2>Settings Page</h2>
  <form (ngSubmit)="onSubmit()" #profileForm="ngForm" class="d-flex flex-column p-4">
  <mat-tab-group>
    <mat-tab label="Profile Settings">

      <div class="d-flex flex-column profile-container">
        <!-- User details -->
        <div class="user-details d-flex flex-row profile-user-details-container">
          <div class="user-details-item-avatar">A</div>

          <div class="d-flex flex-column profile-user-details-info-container">
            <div class="user-details-item d-flex flex-row profile-user-details-info-item">
              <div class="user-details-item-label profile-user-details-info-item-label">username:</div>
              <div class="user-details-item-value profile-user-details-info-item-value">{{ username }}</div>
            </div>
            <div class="user-details-item d-flex flex-row profile-user-details-info-item">
              <div class="user-details-item-label profile-user-details-info-item-label">user ID:</div>
              <div class="user-details-item-value profile-user-details-info-item-value">{{ userId }}</div>
            </div>
          </div>

          <div class="d-flex flex-column profile-user-details-info-container">
            <div class="user-details-item d-flex flex-row profile-user-details-info-item">
              <div class="user-details-item-label profile-user-details-info-item-label">nome:</div>
              <div class="user-details-item-value profile-user-details-info-item-value">{{ firstName }}</div>
            </div>
            <div class="user-details-item d-flex flex-row profile-user-details-info-item">
              <div class="user-details-item-label profile-user-details-info-item-label">cognome:</div>
              <div class="user-details-item-value profile-user-details-info-item-value">{{ lastName }}</div>
            </div>
          </div>

          <div class="d-flex flex-column profile-user-details-info-container">
            <div class="user-details-item d-flex flex-row profile-user-details-info-item">
              <div class="user-details-item-label profile-user-details-info-item-label">email:</div>
              <div class="user-details-item-value profile-user-details-info-item-value">{{ email }}</div>
            </div>
          </div>
        </div>

        <!-- Edit form -->
        <div class="form-container d-flex flex-row">
          <input type="hidden" name="idpId" [(ngModel)]="idpId">
          <h3>Account Information</h3>
          <div>
            <mat-form-field class="form-group-item">
              <mat-label>Username</mat-label>
              <input matInput id="username" name="username" type="text" class="form-control" [(ngModel)]="username" required>
            </mat-form-field>
            <mat-form-field class="form-group-item">
              <mat-label>User ID</mat-label>
              <input matInput id="userId" name="userId" type="text" class="form-control" [(ngModel)]="userId" readonly>
            </mat-form-field>
          </div>
          <h3>Personal Information</h3>
          <div>
            <mat-form-field class="form-group-item">
              <mat-label>Nome</mat-label>
              <input matInput id="firstName" name="firstName" type="text" class="form-control" [(ngModel)]="firstName" required>
            </mat-form-field>
            <mat-form-field class="form-group-item">
              <mat-label>Cognome</mat-label>
              <input matInput id="lastName" name="lastName" type="text" class="form-control" [(ngModel)]="lastName" required>
            </mat-form-field>
          </div>
          <mat-form-field class="form-group-item">
            <mat-label>Email</mat-label>
            <input matInput id="email" name="email" type="email" class="form-control" [(ngModel)]="email" required>
          </mat-form-field>
        </div>
      </div>

    </mat-tab>
    <mat-tab label="Application Settings"></mat-tab>
    <mat-tab label="Permissions Settings"></mat-tab>
  </mat-tab-group>

  <mat-toolbar class="actions-toolbar">
    <button mat-flat-button type="submit" color="primary">Salva modifiche</button>
  </mat-toolbar>
  </form>
