<form #equipmentForm="ngForm" class="d-flex flex-column">
  <h2>Create Equipment</h2>

  <div class="form-container">

    <div class="d-flex flex-row gap-4">
      <div class="form-group-item">
        <label for="name" class="form-label">Name *</label>
        <input type="text" class="form-control" id="name" required maxlength="255"
               [(ngModel)]="addEquipmentForm.name" name="name" #name="ngModel">
        <div *ngIf="name.errors && isSubmitted" class="text-danger">
          <div [hidden]="!name.errors?.['required']">
            Name is required
          </div>
        </div>
      </div>
    </div>

  </div>

  <mat-toolbar>
    <button class="btn btn-primary" (click)="addEquipment(equipmentForm.form.valid)"
            [disabled]="!equipmentForm.form.valid">
      Submit
    </button>
  </mat-toolbar>
</form>
