<form #equipmentForm="ngForm" class="d-flex flex-column" (ngSubmit)="addEquipment(equipmentForm.form.valid)">
  <h2>Create Equipment</h2>

  <div class="form-container">

    <div class="d-flex flex-row gap-4">
      <mat-form-field appearance="outline" class="form-group-item">
        <mat-label>Name *</mat-label>
        <input matInput
               id="name"
               required
               maxlength="255"
               name="name"
               [(ngModel)]="addEquipmentForm.name"
               #name="ngModel">
        <mat-error *ngIf="name.errors?.['required'] && isSubmitted">
          Name is required
        </mat-error>
      </mat-form-field>
    </div>

  </div>

  <mat-toolbar class="actions-toolbar">
    <button mat-flat-button color="primary" type="submit" [disabled]="!equipmentForm.form.valid">
      Submit
    </button>
  </mat-toolbar>
</form>
