:host, form {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.form-container {
  margin: 35px;
  padding: 24px;
  gap: 16px;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.form-group-item {
  flex: 1;
  min-width: 200px;
}

.actions-toolbar {
  background-color: white;
  border-top: 1px solid #e0e0e0;
  display: flex;
  justify-content: flex-end;
  padding: 24px 35px;
}
