@use '@angular/material' as mat;

$primary: mat.define-palette(mat.$indigo-palette);

/*$primary: mat.define-palette((
  50: #D6FFC7,
  100: #9EFF7A,
  200: #3DE600,
  300: #34C200,
  400: #258900,
  500: #217A00,
  600: #1E7000,
  700: #1A6100,
  800: #165200,
  900: #0F3800,
  950: #0F3800,
  A100: #ffffff,
  A200: #ffffff,
  A400: #ffffff,
  A700: #ffffff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    950: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  )
));

// Definisci anche altre palette qui (accent, warn, ecc) oppure usa $primary come esempio
$accent: $primary;
$warn: mat.define-palette(mat.$red-palette);*/
