@use '@angular/material' as mat;
@use 'sass:map';

// Definisci le palette personalizzate
$primary: (
    50: #D6FFC7,
    100: #9EFF7A,
    200: #3DE600,
    300: #34C200,
    400: #258900,
    500: #217A00,
    600: #1E7000,
    700: #1A6100,
    800: #165200,
    900: #0F3800,
    950: #0F3800,
    A100: #ffffff,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff,
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #000000,
        400: #ffffff,
        500: #ffffff,
        600: #ffffff,
        700: #ffffff,
        800: #ffffff,
        900: #ffffff,
        950: #ffffff,
        A100: #000000,
        A200: #000000,
        A400: #000000,
        A700: #000000,
    ),
);

$alert: (
    50: #FFEBEE,
    100: #FFCDD2,
    200: #EF9A9A,
    300: #E57373,
    400: #EF5350,
    500: #F44336,
    600: #E53935,
    700: #D32F2F,
    800: #C62828,
    900: #B71C1C,
    950: #E55D33,
    A100: #FF8A80,
    A200: #FF5252,
    A400: #FF1744,
    A700: #D50000,
    contrast: (
        50: #1A1A1A,
        100: #1A1A1A,
        200: #1A1A1A,
        300: #1A1A1A,
        400: #1A1A1A,
        500: #1A1A1A,
        600: #1A1A1A,
        700: #ffffff,
        800: #ffffff,
        900: #ffffff,
        950: #ffffff,
        A100: #1A1A1A,
        A200: #1A1A1A,
        A400: #1A1A1A,
        A700: #ffffff,
    ),
);

$warn: (
    50: #FFF3E0,
    100: #FFE0B2,
    200: #FFCC80,
    300: #FFB74D,
    400: #FFA726,
    500: #FF9800,
    600: #FB8C00,
    700: #F57C00,
    800: #EF6C00,
    900: #E65100,
    950: #c85000,
    A100: #FFD180,
    A200: #FFAB40,
    A400: #FF9100,
    A700: #FF6D00,
    contrast: (
        50: #1A1A1A,
        100: #1A1A1A,
        200: #1A1A1A,
        300: #1A1A1A,
        400: #1A1A1A,
        500: #1A1A1A,
        600: #1A1A1A,
        700: #ffffff,
        800: #ffffff,
        900: #ffffff,
        950: #ffffff,
        A100: #1A1A1A,
        A200: #1A1A1A,
        A400: #1A1A1A,
        A700: #ffffff,
    ),
);

$success: (
    50: #F1F8E9,
    100: #DCEDC8,
    200: #C5E1A5,
    300: #AED581,
    400: #9CCC65,
    500: #8BC34A,
    600: #7CB342,
    700: #689F38,
    800: #558B2F,
    900: #33691E,
    950: #258900,
    A100: #CCFF90,
    A200: #B2FF59,
    A400: #76FF03,
    A700: #64DD17,
    contrast: (
        50: #1A1A1A,
        100: #1A1A1A,
        200: #1A1A1A,
        300: #1A1A1A,
        400: #1A1A1A,
        500: #1A1A1A,
        600: #1A1A1A,
        700: #ffffff,
        800: #ffffff,
        900: #ffffff,
        950: #ffffff,
        A100: #ffffff,
        A200: #ffffff,
        A400: #ffffff,
        A700: #ffffff,
    ),
);

$neutral: (
    50: #F2F2F2,
    100: #E6E6E6,
    200: #C4C4C4,
    300: #9C9C9C,
    400: #5C5C5C,
    500: #545454,
    600: #4A4A4A,
    700: #404040,
    800: #383838,
    900: #262626,
    950: #1A1A1A,
    A100: #ffffff,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff,
    contrast: (
        50: #ffffff,
        100: #ffffff,
        200: #ffffff,
        300: #ffffff,
        400: #ffffff,
        500: #ffffff,
        600: #ffffff,
        700: #ffffff,
        800: #ffffff,
        900: #ffffff,
        950: #ffffff,
        A100: #ffffff,
        A200: #ffffff,
        A400: #ffffff,
        A700: #ffffff,
    ),
);
