@use '@angular/material' as mat;
@use './palettes' as palettes;

$my-theme: mat.define-light-theme((
  color: (
    primary: palettes.$primary,
    accent: palettes.$accent,
    warn: palettes.$warn,
  )
));