@import 'scss/index.scss';

/* You can add global styles to this file, and also import other style files */
/* License: none (public domain) */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,s
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  letter-spacing: 0.5px;
  font-size: 14px;
  box-sizing: border-box;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body,
html,
app-root {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  overflow: auto;
}
app-root > div {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: auto;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

:host, form, .form-container {
  display: flex;
  flex-grow: 1;
  overflow: auto;
  flex-direction: column;
}

.form-container {
  margin: 35px;
  gap: 24px;
  padding: 24px;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 3px;
  .form-group-item {
    display: flex;
    flex-direction: column;
    flex-wrap: 1;
    width: 100%;
    gap: 4px;
    input, textarea {
      border-radius: 3px;
      // background-color: #fafafa;
    }
  }
}

.mat-toolbar.mat-toolbar {
  background-color: white;
  border-top: 1px solid #e0e0e0;
  height: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 24px 35px;
  button {
    margin-top: 0 !important;
  }
}

