// styles.scss

@use './scss/theme' as theme;
@use './scss/index' as scss;

@use './app/feature/equipment/search-equipment/equipment-confirm-dialog/equipment-confirm-dialog.component.theme' as equipment-confirm-dialog-theme;
@use './app/app.component.theme' as app-root-theme;
@use './app/feature/profile/profile.component.theme' as profile-theme;

@use '@angular/material' as mat;
@include mat.core();
@include mat.all-component-themes(theme.$my-theme);

// mixin @include
@include equipment-confirm-dialog-theme.equipment-confirm-dialog-theme();
@include app-root-theme.app-root();
@include profile-theme.app-profile();

/*
html {
  @include mat.theme(
    (
      color: theme.$primary-palette,
      density: 0,
    )
  );
}
*/

/* You can add global styles to this file, and also import other style files */
/* License: none (public domain) */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,s
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: "Inter", sans-serif;
}
* {
  font-family: "Inter", sans-serif;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
  font-family: "Inter", sans-serif;
}
body {
  line-height: 1;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  letter-spacing: 0.5px;
  font-size: 14px;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
  font-family: "Inter", sans-serif;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
  font-family: "Inter", sans-serif;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  font-family: "Inter", sans-serif;
}
body,
html,
app-root {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  overflow: auto;
  font-family: "Inter", sans-serif;
}
app-root > div {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: auto;
  font-family: "Inter", sans-serif;
}
html,
body {
  height: 100%;
  font-family: "Inter", sans-serif;
}
body {
  margin: 0;
  font-family: "Inter", sans-serif;
}

html, body { height: 100%; }
body {
  margin: 0;
  font-family: "Inter", sans-serif;
}
