<div class="table-container">
 
  <table>
        <thead>
          <tr class="center-align">
            <th>titolo</th>
            <th>Descrizione</th>
            <th>Configurazione</th>

            <th colspan="3">Actions</th>
          </tr>
        </thead>
    <tbody>
        <tr *ngFor="let d of dashBoardsList; let i = index"  class="center-align">
          <td>{{d.title}}</td>
          <td>{{d.descr}}</td>
          <td>{{d.configuration}}</td>
          <td>
            <button class="btn btn-primary mt-3" *ngIf="d.userIdpId === currentUserId"  [routerLink]="['/userdashboard-detail', d.id]">✏ Edit</button>

          </td>
          <td>
              <button  (click)="deleteDasboard(d.id , $event )" *ngIf="d.userIdpId === currentUserId"  class="btn btn-primary mt-3">Delete</button>
          </td>
         <td>
             <button class="btn btn-primary mt-3" [routerLink]="['/dash-measure', d.id]">View</button>
          </td>
        </tr>
        <tr>
          <td *ngIf="dashBoardsList.length == 0" colspan="6">No Dashboards Found</td>
        </tr>
      </tbody>
      </table>
    </div>
