<form (ngSubmit)="search()" class="search-form">
    <label for="tenant">Seleziona Tenant:</label>
    <select id="tenant" [(ngModel)]="selectedTenant" name="tenant" required>
      <option *ngFor="let tenant of tenantList" [value]="tenant.id">{{ tenant.name }}</option>
    </select>
  
    <button type="submit">Cerca</button>
  </form>
  
  <div class="table-container">
    <table>
      <thead>
      <tr class="center-align">
        <th>user id</th>
      
        <th>Nome </th>
        <th>Cognome</th>
        <th>email</th>
        <th colspan="2">Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of usersList; let i = index" class="center-align">
        <td>{{user.userId}}</td>
    
        <td>{{user.firstName}}</td>
        <td>{{user.lastName}}</td>
        <td>{{user.email}}</td>
    
        <td>
          <!--<button (click)="detailTenant(tenant.id, i)"> Detail</button> -->
          <button [routerLink]="['/detail-user', user.user_pk ]">✏ Edit</button>
        </td>
        <td>
  
          <button (click)="deleteUser( user.user_pk , i )">❌ Elimina</button>
        </td>
  
        <td>
        </td>
      </tr>
      <tr>
        <td *ngIf="tenantList.length == 0" colspan="6">No Tenant Found</td>
      </tr>
      </tbody>
    </table>
  </div>
  