
<form [formGroup]="dashBoardForm" (ngSubmit)="onSubmit()">
    <div>
        <label for="title">Titolo:</label>
        <input id="title" formControlName="title">
        <div *ngIf="dashBoardForm.controls['title'].invalid && dashBoardForm.controls['title'].touched">
          Il titolo è obbligatorio.
        </div>
    </div>

    <div>
        <label for="descr">Descrizione:</label>
        <input id="descr" formControlName="descr">
        <div *ngIf="dashBoardForm.controls['descr'].invalid && dashBoardForm.controls['descr'].touched">
          La descrizione è obbligatoria.
        </div>
    </div>

    <div class="form-check">
      <label for="shared">Dashboard condivisa:</label>
       
      <select class="form-select" formControlName="shared">
        <option value="false">NO</option>
        <option value="true">Si</option>
      </select>
    </div>

    <input type="hidden" formControlName="id">
    <input type="hidden" formControlName="configuration">


    <div *ngIf="this.isPersisted">
            <app-dashconf-manager [initialSignals]="dashBoardForm.controls['configuration'].value" (jsonChanged)="updateJson($event)"></app-dashconf-manager>
    </div>
    <table>
      <tr>
        <td><div><button type="submit" class="btn btn-primary mt-3"  [disabled]="dashBoardForm.invalid">Salva</button></div></td>
        <td><div *ngIf="this.isPersisted">
          <button class="btn btn-primary mt-3" [routerLink]="['/dash-measure', dashBoardForm.controls['id'].value]">View</button>
        </div></td>
      </tr>
    </table>
    <p *ngIf="successMessage">{{ successMessage }}</p>
  </form>
