<div *ngIf="this.isPersisted"> 
    <a [routerLink]="['/dash-measure', dashBoardForm.controls['id'].value]" class="button">View</a>
</div>
<form [formGroup]="dashBoardForm" (ngSubmit)="onSubmit()">
    <div>
        <label for="title">Titolo:</label>
        <input id="title" formControlName="title">
        <div *ngIf="dashBoardForm.controls['title'].invalid && dashBoardForm.controls['title'].touched">
          Il titolo è obbligatorio.
        </div>
    </div>
    
    <div>
        <label for="descr">Descrizione:</label>
        <input id="descr" formControlName="descr">
        <div *ngIf="dashBoardForm.controls['descr'].invalid && dashBoardForm.controls['descr'].touched">
          La descrizione è obbligatoria.
        </div>
    </div>
    <input type="hidden" formControlName="id">
    <input type="hidden" formControlName="configuration">
     
    
    <div *ngIf="this.isPersisted"> 
            <app-dashconf-manager [initialSignals]="dashBoardForm.controls['configuration'].value" (jsonChanged)="updateJson($event)"></app-dashconf-manager>
    </div>

    <button type="submit" [disabled]="dashBoardForm.invalid">Salva</button>

    <p *ngIf="successMessage">{{ successMessage }}</p>
  </form>
   