<div class="form-container">
  <h2>Equipment List</h2>

  <div class="table-responsive">
    <table class="table">
      <thead>
      <tr class="center-align">
        <th>Id</th>
        <th>Name</th>
        <th>Tenant</th>
        <th>Status</th>
        <th>Created</th>
        <th>Last Update</th>
        <th colspan="2">Actions</th>
      </tr>
      </thead>

      <tbody>
      <tr *ngFor="let equipment of equipmentList; let i = index" class="center-align">
        <td>{{equipment.equipmentId}}</td>
        <td>{{equipment.name}}</td>
        <td>{{equipment.tenant}}</td>
        <td>{{equipment.status}}</td>
        <td>{{equipment.createdDttm}}</td>
        <td>{{equipment.updateDttm}}</td>
        <td>
          <button class="btn btn-primary" [routerLink]="['/detail-equipment', equipment.equipmentId]">✏ Edit</button>
        </td>
        <td>
          <button class="btn btn-primary" (click)="deleteEquipment(equipment.equipmentId, i)">❌ Delete</button>
        </td>
      </tr>

      <tr *ngIf="equipmentList.length === 0">
        <td colspan="8" class="text-center">No Equipment Found</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
