
:host {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  // padding: 35px;
  // gap: 35px;
  table.mat-mdc-table.mdc-data-table__table {
    margin: 8px 35px 35px;
  }

  .w-70 {
    width: 70px;
  }

  .align-center {
    text-align: center;
  }
}
