
<div class="table-container">
<table>
    <thead>
      <tr class="center-align">
        <th>Id</th>
        <th>Name</th>
        <th>Status</th>
        <th>Created</th>
        <th>Last Update</th>
        <th colspan="2">Actions</th>
      </tr>
    </thead>
<tbody>
    <tr *ngFor="let equipment of equipmentList" class="center-align">
      <td>{{equipment.id}}</td>
      <td>{{equipment.name}}</td>
      <td>{{equipment.status}}</td>
      <td>{{equipment.createdDttm}}</td>
      <td>{{equipment.updateDttm}}</td>
      <!--<td>
        <a  routerLink="/detail-xxx/{{equipment.equipmentId}}" class="btn">Detail</a>
      </td> -->
      <td>
        <a [routerLink]="['/detail-equipment', equipment.id]" class="button">Detail</a>
      </td>
      <td>
        <a [routerLink]="['/delete-equipment', equipment.id]" class="button">Delete</a>
      </td>

      <td>
       <!-- <a href="#" href="['/ViewEmployee/', equipment.equipmentId]" class="btn"><i class='fas fa-eye view'></i></a>
        <a href="#" href="['/EditEmployee/', equipment.equipmentId]" class="btn"><i class="fa fa-edit edit"></i></a> -->
       </td>
    </tr>
    <tr>
      <td *ngIf="equipmentList.length == 0" colspan="6">No Equipment Found</td>
    </tr>
  </tbody>
  </table>
</div>
