
<h2>Gestione User</h2>
<form [formGroup]= "userForm" (ngSubmit)="onSubmit()">
  <div class="form-container">
      <input id="idpId" type="hidden" formControlName="idpId">
      <div class="d-flex flex-row gap-4">
          <div class="form-group-item">
      
            <label for="tenantId">Tenant:</label>
            <select id="tenant" formControlName="tenant" required>
              <option *ngFor="let tenant of tenantList" [value]="tenant.tenantId">{{ tenant.name }}</option>
            </select>
            <div *ngIf="userForm.controls['tenant'].invalid && userForm.controls['tenant'].touched">
               Il tenat è obbligatorio
            </div>
          </div>
          <div class="form-group-item">
            <label for="userId">userId:</label>
            <input id="userId" formControlName="userId">
            <div *ngIf="userForm.controls['userId'].invalid && userForm.controls['userId'].touched">
             User id obbligatorio
            </div>

          </div>     
          <div class="form-group-item">
            <label for="email">E mail:</label>
            <input id="email" formControlName="email">
            <div *ngIf="userForm.controls['email'].invalid && userForm.controls['email'].touched">
               mail obbligatoria
            </div>
          </div>
      </div>
      <div class="d-flex flex-row gap-4">
        <div class="form-group-item">
          <label for="firstName">Nome:</label>
          <input id="firstName" formControlName="firstName">
          <div *ngIf="userForm.controls['firstName'].invalid && userForm.controls['firstName'].touched">
              Nome è obbligatorio
          </div>
        </div>
        <div class="form-group-item">
          <label for="lastName">Cognome:</label>
          <input id="lastName" formControlName="lastName">
          <div *ngIf="userForm.controls['lastName'].invalid && userForm.controls['lastName'].touched">
              Il Cognome è obbligatorio
          </div>
        </div>
      </div>
      <div class="d-flex flex-row gap-4">
        <div class="form-group-item">
          <label for="address">Indirizzo:</label>
          <input id="address" formControlName="address">
      
        </div>
        <div class="form-group-item">
          <label for="phone">Telefono:</label>
          <input id="phone" formControlName="phone">
      
        </div>
        <div class="form-group-item">
          <label for="gender">Genere:</label>
          <select id="gender" formControlName="gender">
            <option value="">-- Seleziona --</option>
            <option value="M">Maschio</option>
            <option value="F">Femmina</option>
        </select>
        </div>     
      </div>
      <div class="d-flex flex-row gap-4">
        <div class="form-group-item">
          <label for="usrGrp">Grouppi di Appartenenza:</label>
          <select id="usrGrp" multiple formControlName="usrGrp" [compareWith]="compareGroups">
            <option *ngFor="let grp of grpList" [ngValue]="grp">{{ grp.description }}</option>
          </select>
        </div>
      </div>
      <div class="d-flex flex-row gap-4"  *ngIf="!isPersisted">
          <div class="form-group-item">
      
            <label for="password">Password:</label>
            <input id="password" type="password" formControlName="password">
            <div *ngIf="userForm.controls['password'].invalid && userForm.controls['password'].touched">
              La password è obbligatoria
            </div>
          </div>
      </div> 
      <div class="d-flex flex-row gap-4">
          <div class="form-group-item">
              <button type="submit" class="btn btn-primary mt-3"  [disabled]="userForm.invalid">Salva</button>
          </div>
      </div>

  </div>
   

</form>
