

<mat-form-field appearance="fill">
  <mat-label>Tenant</mat-label>
  <mat-select [(ngModel)]="selectedTenantId" (selectionChange)="onTenantChange($event.value)">
    <mat-option *ngFor="let t of tenantList" [value]="t.tenantId">{{ t.name }}</mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field appearance="fill">
  <mat-label>Equipment</mat-label>
  <mat-select [(ngModel)]="selectedEquipmentId" (selectionChange)="onEquipmentChange($event.value)">
    <mat-option *ngFor="let x of equipmentList" [value]="x.equipmentId">{{ x.name }}</mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field appearance="fill">
  <mat-label>Segnale</mat-label>
  <mat-select [(ngModel)]="selectedSignalId" (selectionChange)="onSignalChange($event.value)">
    <mat-option *ngFor="let x of signalList" [value]="x.signalId">{{ x.name }}</mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field appearance="fill">
  <mat-label>Range Temporale</mat-label>
  <mat-date-range-input [rangePicker]="picker" [(ngModel)]="dateRange">
    <input matStartDate [min]="minDate" [max]="maxDate" placeholder="Data Inizio">
    <input matEndDate [min]="minDate" [max]="maxDate" placeholder="Data Fine">
  </mat-date-range-input>
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-date-range-picker #picker></mat-date-range-picker>
</mat-form-field>
 
<mat-form-field appearance="fill">
  <mat-label>Raggruppamento</mat-label>
  <mat-select [(value)]="selectedAggregation">
    <mat-option value="MONTH">Mensile</mat-option>
    <mat-option value="DAY">Giornaliero</mat-option>
    <mat-option value="HOUR">Orario</mat-option>
    <mat-option value="MIN">Intervallo Minimo</mat-option>
  </mat-select>
</mat-form-field>

<button mat-button (click)="loadData()">Basic</button>


<div style="flex: 1;">
  <app-chart-view [data]="data"></app-chart-view>
</div>