<h2 class="page-title">View Received Data</h2>

<div class="form-container">
  <!-- RIGA 1 -->
  <div class="row">
    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Tenant</mat-label>
      <mat-select [(ngModel)]="selectedTenantId" (selectionChange)="onTenantChange($event.value)">
        <mat-option *ngFor="let t of tenantList" [value]="t.tenantId">{{ t.name }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Equipment</mat-label>
      <mat-select [(ngModel)]="selectedEquipmentId" (selectionChange)="onEquipmentChange($event.value)">
        <mat-option *ngFor="let x of equipmentList" [value]="x.equipmentId">{{ x.name }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Signal</mat-label>
      <mat-select [(ngModel)]="selectedSignalId" (selectionChange)="onSignalChange($event.value)">
        <mat-option *ngFor="let x of signalList" [value]="x.signalId">{{ x.name }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <!-- RIGA 2 -->
  <div class="row">
    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Aggregation</mat-label>
      <mat-select [(value)]="selectedAggregation">
        <mat-option value="MONTH">Monthly</mat-option>
        <mat-option value="DAY">Daily</mat-option>
        <mat-option value="HOUR">Hourly</mat-option>
        <mat-option value="ROW">Raw Interval</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" class="form-field date-field">
      <mat-label>Date Range</mat-label>
      <mat-date-range-input [rangePicker]="picker" [(ngModel)]="dateRange">
        <input matStartDate [min]="minDate" [max]="maxDate" placeholder="Start Date">
        <input matEndDate [min]="minDate" [max]="maxDate" placeholder="End Date">
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>

    <div class="form-field button-container">
      <button mat-stroked-button color="primary" (click)="loadData()">Load Data</button>
    </div>
  </div>


    <!-- GRAFICO -->
  <div class="p-charts-wrapper">
    <div class="p-chart-card">
     <app-chart-view [data]="data"></app-chart-view>
    </div>
  </div>
</div>
