@mixin dialogs() {

  .cdk-overlay-dark-backdrop {
    background: rgb(0 0 0 / 65%);
  }

  mat-dialog-container {
    .mat-mdc-dialog-surface {
      border-radius: 1px;
      background-color: white;
    }
    .mat-mdc-dialog-inner-container.mdc-dialog__container {
      .mat-mdc-dialog-surface.mdc-dialog__surface {
        * {
          h2.mat-mdc-dialog-title {
            border-bottom: 1px solid lightgrey;
            padding: 16px 24px;
            text-transform: uppercase;
            &::before {
              display: none;
            }
          }
          mat-dialog-content.mat-mdc-dialog-content.mdc-dialog__content {
            padding: 24px !important;
            max-height: 67vh;
          }
          mat-dialog-actions.mat-mdc-dialog-actions.mdc-dialog__actions {
            border-top: 1px solid lightgrey;
          }
        }
      }
    }
  }

  .cdk-overlay-pane.equipment-edit-dialog.mat-mdc-dialog-panel {
    min-width: 80vw;
    min-height: 80vh;
  }
}
