@mixin side-nav() {
  mat-drawer-container {
    h2 {
      font-size: 24px;
      text-transform: uppercase;
      font-weight: 500;
      margin: 35px 0 0 35px;
    }
  &.mat-drawer-container {
    display: flex;
    flex-grow: 1;
    overflow: auto;
    mat-drawer {
      &.mat-drawer {
        width: 254px;
        padding: 24px 0;
        border-right: 1px solid #e0e0e0;
        border-radius: 0;
        background-color: white;
        .mat-drawer-inner-container {
          display: flex;
          flex-direction: column;
          .drawer-button-container {
            display: flex;
            flex-direction: column;
            &.opened {
              button.mdc-button {
                background-color: #00a0c410;
                .mdc-button__label {
                  color: #00a0c4;
                  font-weight: 600;
                }
              }
              button.mdc-button.active-link.mat-drawer-button-item  {
                .mdc-button__label {
                  color: #00a0c4;
                  font-weight: 600 !important;
                }
              }
            }
            &.active-closed {
              button.mdc-button {
                background-color: #2c68c0;
                .mdc-button__label {
                  color: white;
                }
              }
            }
            button.mdc-button {
              margin: 0;
              padding: 0 24px;
              border-radius: 0;
              display: flex;
              justify-content: start;
              align-items: center;
              height: 45px;
              &.active-link {
                border-left: 2px solid #00a0c4 !important;
                // background-color: #2c68c0 !important;
                .mdc-button__label {
                  color: #00a0c4;
                  font-weight: 600;
                }
              }
              &:hover {
                .mdc-button__label {
                  color: #00a0c4;
                }
              }
              .mat-mdc-button-persistent-ripple.mdc-button__ripple {
                display: none;
              }
              .mdc-button__label {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                font-weight: 400;
                text-transform: uppercase;
                letter-spacing: 0.5px;
                color: rgb(100, 100, 100);
                .material-symbols-outlined {
                  font-size: 18px;
                }
                .mat-drawer-button-closed,
                .mat-drawer-button-opened  {
                  position: relative;
                  right: -5px;
                }
              }
              &.mat-drawer-button-item {
                padding-left: 22px;
                margin-left: 33px;
                border-left: 2px solid rgba(44, 103, 192, 0.15);
                background-color: transparent !important;
                height: 35px;
                .mdc-button__label {
                  font-size: 14px;
                  font-weight: 400;
                  text-transform: capitalize;
                  color: rgb(100, 100, 100);
                }
                &:hover {
                  .mdc-button__label {
                    color: #00a0c4;
                  }
                }
              }
            }
          }
        }
      }
    }
    .mat-drawer-content {
      display: flex;
      flex-grow: 1;
      overflow: auto;
      .example-sidenav-content {
        display: flex;
        flex-grow: 1;
        overflow: auto;
      }
    }
    .mat-drawer-content {
      display: flex;
      flex-grow: 1;
      overflow: auto;
      // padding: 35px;
      //background-color: white;
      background-color: #fafafa;
      }
    }
  }
}
