@mixin table() {
  table.mat-mdc-table {
    min-width: unset;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    display: flex;
    flex-direction: column;
    .mat-mdc-header-row {
      background-color: #f0f0f0;
      display: flex;
      .mat-mdc-header-cell {
        border-color: #e0e0e0;
        vertical-align: middle;
        display: flex;
        flex-grow: 1;
        align-items: center;
        width: 100%;
        &:first-of-type {
          flex-grow: unset;
          width: 70px;
          flex-shrink: 0;
        }
      }
    }
    .mat-mdc-row {
      display: flex;
      &:last-child>.mat-mdc-cell {
        border-bottom: 1px solid #e0e0e0;
      }
      .mat-mdc-cell {
        border-color: #e0e0e0;
        vertical-align: middle;
        display: flex;
        flex-grow: 1;
        align-items: center;
        width: 100%;
        &:first-of-type {
          flex-grow: unset;
          width: 70px;
          flex-shrink: 0;
        }
      }
    }
  }

  .actions-table-bar {
    margin: 32px 32px 0 32px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    // gap: 6px;

    mat-divider.mat-divider {
      margin-right: 6px;
      margin-left: 6px;
    }

    &__button {
      &.mdc-button.mat-mdc-button.mat-mdc-button-base {
        display: flex;
        min-width: 30px;
        height: 30px;
        padding: 9px;

        .mdc-button__label {
          display: flex;
          align-items: center;
          gap: 3px;
          font-size: 14px;
          .material-symbols-outlined {
            font-size: 20px;
            font-variation-settings:
            'FILL' 0,
            'wght' 300,
            'GRAD' -25,
            'opsz' 48
          }
        }
      }

    }
  }
}
