:host, form, .form-container {
  display: flex;
  flex-grow: 1;
  overflow: auto;
  flex-direction: column;
}

.form-container {
  margin: 35px;
  padding: 16px;
  gap: 12px;

  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 3px;

  // 👇 questo è importante
  flex-shrink: 1;       // evita che si espanda troppo
  flex-grow: 0;         // impedisce di riempire lo spazio verticale inutilmente


  .form-group-item {
    display: flex;
    flex-direction: column;
    flex-wrap: 1;
    width: 100%;
    gap: 4px;
    margin-bottom: 8px;

    input, textarea {
      border-radius: 3px;
    }
  }
}

.mat-toolbar.mat-toolbar {
  background-color: white;
  border-top: 1px solid #e0e0e0;
  height: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 24px 35px;
  margin-top: 12px;

  button {
    margin-top: 0 !important;
  }
}

.table-container {
  margin: 35px;
  padding: 24px;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 3px;
}

.full-width {
  width: 100%;
}
