<h2 mat-dialog-title>Equipment Detail</h2>

<mat-dialog-content>
  <form [formGroup]="equipmentForm" (ngSubmit)="updateEquipment()"
    class="d-flex flex-column equipment-form">
    <mat-form-field>
      <mat-label>Equipment ID</mat-label>
      <input matInput formControlName="equipmentId" placeholder="Equipment ID">
      <mat-hint>Errors appear instantly!</mat-hint>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" placeholder="Name">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Tenant</mat-label>
      <input matInput formControlName="tenant" readonly>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Status</mat-label>
      <input matInput formControlName="status">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Created Date</mat-label>
      <input matInput formControlName="createdDttm" readonly>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Updated Date</mat-label>
      <input matInput formControlName="updateDttm" readonly>
    </mat-form-field>
  </form>

  <mat-accordion class="example-headers-align" multi>
    <mat-expansion-panel (opened)="loadSignals()">
      <mat-expansion-panel-header>
        <mat-panel-title> New Signal Item </mat-panel-title>
      </mat-expansion-panel-header>

      <form [formGroup]="signalForm" (ngSubmit)="saveSignal()"
        class="d-flex flex-column flex-grow-1 w-50-percent">
        <div class="d-flex flex-row gap-4">
          <mat-form-field class="form-group-item">
            <mat-label>Unit of Measurement</mat-label>
            <input matInput formControlName="unitOfMeasurement">
          </mat-form-field>

          <mat-form-field class="form-group-item">
            <mat-label>Name</mat-label>
            <input matInput formControlName="name">
          </mat-form-field>
        </div>

        <div class="d-flex flex-row gap-4">
          <mat-form-field class="form-group-item">
            <mat-label>Min Value</mat-label>
            <input matInput type="number" formControlName="minVal">
          </mat-form-field>

          <mat-form-field class="form-group-item">
            <mat-label>Max Value</mat-label>
            <input matInput type="number" formControlName="maxVal">
          </mat-form-field>
        </div>

        <div class="d-flex flex-row gap-4">
          <mat-form-field class="form-group-item">
            <mat-label>Down Red Limit</mat-label>
            <input matInput type="number" formControlName="downRedLimit">
          </mat-form-field>

          <mat-form-field class="form-group-item">
            <mat-label>Up Red Limit</mat-label>
            <input matInput type="number" formControlName="upRedLimit">
          </mat-form-field>
        </div>

        <div class="d-flex flex-row gap-4">
          <mat-form-field class="form-group-item">
            <mat-label>Down Yellow Limit</mat-label>
            <input matInput type="number" formControlName="downYellowLimit">
          </mat-form-field>

          <mat-form-field class="form-group-item">
            <mat-label>Up Yellow Limit</mat-label>
            <input matInput type="number" formControlName="upYellowLimit">
          </mat-form-field>
        </div>

        <mat-toolbar class="actions-toolbar" color="transparent">
          <button mat-button (click)="resetSignalForm()">Annulla</button>
          <button mat-flat-button color="primary" type="submit"
            [disabled]="!signalForm.valid">
            {{ isEditingSignal ? 'Update Signal' : 'Add Signal' }}
          </button>
        </mat-toolbar>
      </form>

      <mat-divider [vertical]="true"></mat-divider>

      <div class="d-flex flex-column flex-grow-1 w-50-percent">
        <div class="actions-table-bar">
          <button
          class="actions-table-bar__button"
          mat-button color="primary"
          (click)="editSignal(selection.selected[0])"
          [disabled]="selection.selected.length !== 1">
            <span class="material-symbols-outlined">edit</span>
            Modifica
          </button>
          <button
          class="actions-table-bar__button"
          mat-button color="primary"
          (click)="deleteSignal(selection.selected[0].equipmentId, selection.selected[0].signalId)"
          [disabled]="selection.selected.length === 0">
            <span class="material-symbols-outlined">delete</span>
            Elimina
          </button>
        </div>

        <table mat-table [dataSource]="signals" class="full-width">
          <!-- Checkbox Column -->
          <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef class="w-70">
              <mat-checkbox (change)="$event ? toggleAllRows() : null"
                            [checked]="selection.hasValue() && isAllSelected()"
                            [indeterminate]="selection.hasValue() && !isAllSelected()"
                            [aria-label]="checkboxLabel()">
              </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row" class="w-70">
              <mat-checkbox (click)="$event.stopPropagation()"
                            (change)="$event ? selection.toggle(row) : null"
                            [checked]="selection.isSelected(row)"
                            [aria-label]="checkboxLabel(row)">
              </mat-checkbox>
            </td>
          </ng-container>
          <!-- Signal ID Column -->
          <ng-container matColumnDef="signalId">
            <th mat-header-cell *matHeaderCellDef>ID</th>
            <td mat-cell *matCellDef="let signal">{{ signal.signalId }}</td>
          </ng-container>
          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let signal">{{ signal.name }}</td>
          </ng-container>
          <!-- Unit of Measurement Column -->
          <ng-container matColumnDef="unitOfMeasurement">
            <th mat-header-cell *matHeaderCellDef>Unit of Measurement</th>
            <td mat-cell *matCellDef="let signal">{{ signal.unitOfMeasurement }}</td>
          </ng-container>
          <!-- Column DEF -->
          <tr mat-header-row
            *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row
            *matRowDef="let row; columns: displayedColumns"></tr>
        </table>

      </div>

    </mat-expansion-panel>
  </mat-accordion>

  <mat-accordion class="example-headers-align" multi>
    <mat-expansion-panel (opened)="loadPullers()">
      <mat-expansion-panel-header>
        <mat-panel-title> New Signal Item </mat-panel-title>
      </mat-expansion-panel-header>

      <form [formGroup]="pullerForm" (ngSubmit)="savePuller()"
        class="d-flex flex-column flex-grow-1 w-50-percent">

        <div class="d-flex flex-row gap-4">
          <mat-form-field class="form-group-item">
            <mat-label>URL</mat-label>
            <input matInput formControlName="url">
          </mat-form-field>

          <mat-form-field class="form-group-item">
            <mat-label>API Key</mat-label>
            <input matInput formControlName="apiKey">
          </mat-form-field>
        </div>

        <div class="d-flex flex-row gap-4">
          <mat-form-field class="form-group-item">
            <mat-label>Interval (sec)</mat-label>
            <input matInput type="number" formControlName="intervalInSec">
          </mat-form-field>

          <mat-form-field class="form-group-item">
            <mat-label>Next Executions</mat-label>
            <input matInput formControlName="nextExecutions">
          </mat-form-field>
        </div>

        <div class="d-flex flex-row gap-4">
          <mat-form-field class="form-group-item">
            <mat-label>Last Start</mat-label>
            <input matInput formControlName="lastStart">
          </mat-form-field>

          <mat-form-field class="form-group-item">
            <mat-label>Last End</mat-label>
            <input matInput formControlName="lastEnd">
          </mat-form-field>
        </div>

        <div class="d-flex flex-row gap-4">
          <mat-form-field class="form-group-item">
            <mat-label>Last Execution Report</mat-label>
            <input matInput formControlName="lastExecutionReport">
          </mat-form-field>
        </div>

        <mat-toolbar class="actions-toolbar" color="transparent">
          <button mat-button (click)="resetPullerForm()">Annulla</button>
          <button mat-flat-button color="primary" type="submit"
            [disabled]="!pullerForm.valid">
            {{ isEditingPuller ? 'Update Puller' : 'Add Puller' }}
          </button>
        </mat-toolbar>

      </form>

      <mat-divider [vertical]="true"></mat-divider>

      <div class="d-flex flex-column flex-grow-1 w-50-percent">
        <div class="actions-table-bar">
          <button
          class="actions-table-bar__button"
          mat-button color="primary"
          (click)="editSelectedPuller()"
          [disabled]="pullerSelection.selected.length !== 1">
            <span class="material-symbols-outlined">edit</span>
            Modifica
          </button>
          <button
          class="actions-table-bar__button"
          mat-button color="primary"
          (click)="deleteSelectedPullers()"
          [disabled]="pullerSelection.selected.length === 0">
            <span class="material-symbols-outlined">delete</span>
            Elimina
          </button>
        </div>

        <table mat-table [dataSource]="pullers" class="mat-elevation-z8 full-width">
          <!-- Checkbox Column -->
          <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef class="w-70">
              <mat-checkbox (change)="$event ? toggleAllPullerRows() : null"
                            [checked]="pullerSelection.hasValue() && isAllPullersSelected()"
                            [indeterminate]="pullerSelection.hasValue() && !isAllPullersSelected()"
                            [aria-label]="pullerCheckboxLabel()">
              </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row" class="w-70">
              <mat-checkbox (click)="$event.stopPropagation()"
                            (change)="$event ? pullerSelection.toggle(row) : null"
                            [checked]="pullerSelection.isSelected(row)"
                            [aria-label]="pullerCheckboxLabel(row)">
              </mat-checkbox>
            </td>
          </ng-container>

          <!-- Puller Columns -->
          <ng-container matColumnDef="pullerId">
            <th mat-header-cell *matHeaderCellDef>Puller ID</th>
            <td mat-cell *matCellDef="let puller">{{ puller.pullerId }}</td>
          </ng-container>

          <ng-container matColumnDef="url">
            <th mat-header-cell *matHeaderCellDef>URL</th>
            <td mat-cell *matCellDef="let puller">{{ puller.url }}</td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="['select', 'pullerId', 'url']"></tr>
          <tr mat-row *matRowDef="let row; columns: ['select', 'pullerId', 'url']"></tr>
        </table>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="onNoClick()">Annulla</button>
  <button mat-flat-button color="primary"
    (click)="onYesClick()">Conferma</button>
</mat-dialog-actions>
